// medium size
body.medium-size #left-arrow-container {
  left: -60px;
}

body.medium-size #right-arrow-container {
  right: -60px;
}


// small size
body.small-size #cards-container {
  width: 85vw !important;
  height: 63.05vw !important;
}

body.small-size #front,
body.small-size #card2,
body.small-size #card3,
body.small-size #back {
  display: none;
}

body.small-size #card1-position,
body.small-size #card1 {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  transform: unset !important;
}

body.small-size #left-arrow-container {
  top: 110%;
  left: 25%;
  transform: unset;
  z-index: 7;
}

body.small-size #right-arrow-container {
  top: 110%;
  right: 25%;
  transform: unset;
  z-index: 7;
}

@media screen and (max-width: 600px) {
  body.small-size #left-arrow-container {
    left: 10%;
  }

  body.small-size #right-arrow-container {
    right: 10%;
  }
}

body.small-size #customize-btn {
  display: none;
}

@media screen and (orientation: portrait) {
  body.small-size #modal-img {
    width: 100vw;
    height: 75vw;
  }
}

@media screen and (orientation: landscape) {
  body.small-size #cards-container {
    width: 93.33vh !important;
    height: 70vh !important;
    transform: translateX(-50%) translateY(calc(-50% - 40px)) !important;
  }

  body.small-size #modal-img {
    width: 106.66vh;
    height: 80vh;
  }
}
