$text-color: #434977;
$arrow-fill-color: #8c8c8c;
$hover-color: #fafafa;
$selected-color: #ebedf2;
$pov-container-border-radius: 5px;
$arrow-border-thickness: 3px;
$arrow-container-side-length: 45px;
$arrow-side-length: 0.4 * $arrow-container-side-length;
$modal-hide-button-side: 25px;
$cone-side: 50px;
