$text-color: #434977;
$arrow-fill-color: #8c8c8c;
$hover-color: #fafafa;
$selected-color: rgb(235, 237, 242);
$pov-container-border-radius: 5px;
$arrow-border-thickness: 3px;
$arrow-container-side-length: 45px;
$arrow-side-length-scale-factor: 0.4;
$arrow-side-length: $arrow-side-length-scale-factor * $arrow-container-side-length;
