#cards-container {
  display: block;
  position: relative;
  margin: 150px auto 0px auto;
}

.card {
  position: absolute;
  bottom: 0px;
  left: 50%;
}

#front {
  background-color: orange;
  z-index: 5;
}

#card1 {
  background-color: red;
  z-index: 4;
}

#card2 {
  background-color: green;
  z-index: 3;
}

#card3 {
  background-color: blue;
  z-index: 2;
}

#back {
  background-color: purple;
  z-index: 1;
}

#modal-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 30px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 10;
}

#modal-btn:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {opacity: 0}
    to {opacity: 1}
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 10;
}

#modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80vw;
  height: 60vw;
  padding: 50px;
  max-width: 960px;
  max-height: 720px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: sans-serif;
}

#modal-table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 30px 0;
}

.col {
  width: 25%;
  display: flex;
}

.header, .first-col {
  font-weight: bold;
}

.col-text {
  margin: auto;
}

#controls-container {
  position: absolute;
  display: flex;
  width: auto;
  height: auto;
  right: 20px;
  bottom: 20px;
  padding: 25px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 10;
}

#pov-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px 10px 10px 80px;
  border-radius: 5px;
}

#pov-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,100,0);
  transition: background-color 0.5s;
  border-radius: 5px;
  z-index: 1;
}

#pov {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: blue;
  box-shadow: 0 0 7px;
  z-index: 2;
}

#pov:hover {
  cursor: pointer;
}

#pov:active {
  cursor: grabbing;
}

#cards-profile-container {
  display: flex;
  flex-direction: row-reverse;
}

.card-profile {
    width: 3px;
    height: calc(480px / 4);
    margin: auto 0 auto calc(100px / 4);
}

.front-profile {
  background-color: orange;
}

.card1-profile {
  background-color: red;
}

.card2-profile {
  background-color: green;
}

.card3-profile {
  background-color: blue;
}

.back-profile {
  background-color: purple;
}
