#cards-container {
  display: block;
  position: relative;
  margin: 150px auto 0px auto;
}

.card {
  position: absolute;
  bottom: 0px;
  left: 50%;
}

#front {
  background-color: orange;
  z-index: 5;
}

#card1 {
  background-color: red;
  z-index: 4;
}

#card2 {
  background-color: green;
  z-index: 3;
}

#card3 {
  background-color: blue;
  z-index: 2;
}

#back {
  background-color: purple;
  z-index: 1;
}

#controls-container {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  bottom: 0px;
  padding: 10px 25px;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 10;
}

#bars-container {
  position: relative;
  width: 750px;
  height: 50px;
}

.bar-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 10px;
}

.bar-container > span {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.bar {
  position: absolute;
  height: 5px;
  width: 500px;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #105be9;
  border-radius: 2px;
  z-index: 1;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background-color: #aa47e5;
  z-index: 3;
}

.circle:hover {
  cursor: grab;
}

.circle:active {
  cursor: grabbing;
}
