@keyframes forward_transition_front {
  from {}
  to {
    width: 529.655px;
    height: 397.241px;
    transform: translate3d(55px,-113.793px,0px);
    opacity: 1;
  }
}

@keyframes forward_transition_tile1 {
  from {}
  to {
    width: 451.765px;
    height: 338.824px;
    transform: translate3d(94px,-194.118px,0px);
  }
}

@keyframes forward_transition_tile2 {
  from {}
  to {
    width: 393.846px;
    height: 295.385px;
    transform: translate3d(123px,-253.846px,0px);
  }
}

@keyframes forward_transition_tile3 {
  from {}
  to {
    width: 349.091px;
    height: 261.818px;
    transform: translate3d(145px,-300px,0px);
    opacity: 0;
  }
}

@keyframes backward_transition_tile1 {
  from {}
  to {
    width: 640px;
    height: 480px;
    transform: translate3d(0px,0px,0px);
    opacity: 0;
  }
}

@keyframes backward_transition_tile2 {
  from {}
  to {
    width: 529.655px;
    height: 397.241px;
    transform: translate3d(55px,-113.793px,0px);
  }
}

@keyframes backward_transition_tile3 {
  from {}
  to {
    width: 451.765px;
    height: 338.824px;
    transform: translate3d(94px,-194.118px,0px);
  }
}

@keyframes backward_transition_back {
  from {}
  to {
    width: 393.846px;
    height: 295.385px;
    transform: translate3d(123px,-253.846px,0px);
    opacity: 1;
  }
}

#images-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 480px;
  width: 640px;
  max-width: 100%;
}

#tile1-position {
  width: 529.655px;
  height: 397.241px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  transform: translate3d(55px,-113.793px,0px);
  z-index: 7;
}

#tile1-position:hover {
  cursor: pointer;
}

#front {
  width: 640px;
  height: 480px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-color: green;
  z-index: 6;
  animation-name: none;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#tile1 {
  width: 529.655px;
  height: 397.241px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-color: blue;
  transform: translate3d(55px,-113.793px,0px);
  z-index: 5;
  animation-name: none;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#tile2 {
  width: 451.765px;
  height: 338.824px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-color: orange;
  transform: translate3d(94px,-194.118px,0px);
  z-index: 4;
  animation-name: none;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#tile3 {
  width: 393.846px;
  height: 295.385px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-color: red;
  transform: translate3d(123px,-253.846px,0px);
  z-index: 3;
  animation-name: none;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#back {
  width: 349.091px;
  height: 261.818px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-color: purple;
  transform: translate3d(145px,-300px,0px);
  z-index: 2;
  animation-name: none;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#left-arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  border-left: 3px solid #8c8c8c;
  border-bottom: 3px solid #8c8c8c;
  left: -175px;
  top: 50%;
  transform: translateY(calc(-50% - 72.41px)) rotate(45deg);;
}

#right-arrow {
  position: absolute;
  height: 30px;
  width: 30px;
  border-left: 3px solid #8c8c8c;
  border-bottom: 3px solid #8c8c8c;
  right: -175px;
  top: 50%;
  transform: translateY(calc(-50% - 72.41px)) rotate(225deg);;
}

#left-arrow:hover, #right-arrow:hover {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  #left-arrow {
    left: -60px;
  }

  #right-arrow {
    right: -60px;
  }
}

@media screen and (max-width: 800px) {
  #images-wrapper {
    width: 82.76vw;
    height: 62.07vw;
  }

  #front,
  #tile2,
  #tile3,
  #back {
    display: none;
  }

  #tile1-position, #tile1 {
    width: 100%;
    height: 100%;
    transform: translate3d(0px,0px,0px);
  }

  #left-arrow {
    top: 110%;
    left: 50%;
    transform: translateX(-250%) rotate(45deg);
    z-index: 7;
  }

  #right-arrow {
    top: 110%;
    right: 50%;
    transform: translateX(250%) rotate(225deg);
    z-index: 7;
  }
}

@keyframes fadeIn {
  from {opacity: 0}
    to {opacity: 1}
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,10,50,0.9);
  z-index: 20;
}

#modal-hide-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
  opacity: 0;
}

#modal-hide-button:hover {
  cursor: pointer;
}

.hide-button-line {
  position: absolute;
  top: 50%;
  width: 42.4264px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
}

#hide-forward-line {
  transform: translateY(-50%) rotate(-45deg);
}

#hide-backwards-line {
  transform: translateY(-50%) rotate(45deg);
}

#modal-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80vw;
  height: 60vw;
  max-width: 960px;
  max-height: 720px;
  opacity: 0;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  #modal-img {
    width: 100vw;
    height: 75vw;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  #images-wrapper {
    width: 93.33vh;
    height: 70vh;
    transform: translateX(-50%) translateY(calc(-50% - 40px));
  }

  #modal-img {
    width: 106.66vh;
    height: 80vh;
  }
}

#modal {
  animation-name: fadeIn;
  animation-duration: 0.3s;
}

#modal-hide-button,
#modal-img {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
